* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background-color: #2b2922;

}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.container {
}

.navbar {
  padding: 4em 8em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar >div:first-of-type  {
  flex-grow: 0.8;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
color: #7a7871;


}

.list-item {
  font-size: 1.3rem;
  font-weight: 300;
  margin-inline: 20px;

}

.list-item:hover {
  font-weight: 600;
  color: #e4e3e1;
}

.button-small {
  border: 2px solid #988334;
  background-color: transparent;
  color: #988334;
  font-size: 1.5rem;
  font-weight: 700;
  padding-inline: 1.75rem ;
  padding-block: 1.25rem;
  border-radius: 1rem;
}

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.hero {
  padding: 0em 8em;

  padding-block:  6rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  

}
.hero-heading {
  max-width: 800px;
  font-size: 5.5rem;
  font-weight: 800;
  color: #f1f0ef;
}

.hero-body {
  max-width: 500px;
  font-size: 1.5rem;
  line-height: 1.7;
  color: #f1f0ef;
  font-weight: 300;

}



.image {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

/* ------------------------------ */
/* ---------- BOTTOM   ------------ */
/* ------------------------------ */

.bottom {
display: flex;
justify-content: flex-end;
} 

.bottom > div {
  text-align: end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

 

.button-large-prev, .button-large-next {
  padding: 3rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #fff;
  margin: 30px;
  border: 2px solid #fff;
}

.button-large-prev {
  border: 2px solid #a08f36;
}

.arrow-bg-prev {
  background-color: #39372d;
}

.arrow-bg-next {
  background-color: #a08f36;
}

